.app {
  padding: 1.5rem;
  background: #35654d;
  /* min-height: 100vh; */
}

.app-title {
  color: #fff;
  margin-bottom: 1.5rem;
}

.suit-group {
  margin-bottom: 1.5rem;
}

.suit-title {
  color: #ddd;
  margin-bottom: 0.5rem;
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
